*,
*::before,
*::after {
    box-sizing: border-box;
}

/*font-family: 'Nunito Sans', sans-serif;*/

body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    background-color: hsl(207, 26%, 17%);
    color: hsl(0, 0%, 100%);
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

strong {
    font-weight: 600;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
}



header {
    padding: 2em 1em;
    text-align: center;
    background-color: #131D26;
}


.card__img {
    max-height: 120px;
    min-height: 120px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    /*object-fit: cover;*/
}

.card__container {
    margin-top: 1em;
    padding:  0 1.5em 1em;
}

.card__title {
    font-size: 1rem;
    font-weight: 600;
}

.card__btn {
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 5px;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #24C465;
    background-color: hsl(209, 23%, 22%);
    border: 2px solid #24C465;
    transition: all 0.3s ease-in-out;
}

.card__btn:hover, .card__btn:focus {
    color: hsl(200, 15%, 8%);
    background-color: #24C465;
    transform: scale(1.05);
}


.active {
    transform: scale(1.05);
    border: 2px solid yellow;
}



















